<div class="background-circles">
    <img src="/static/img/blue-circle.svg" style="
        width: 130px;
        height: 130px;
        left: 1.7%;
        top: 189px;
    ">
    <img src="/static/img/blue-circle.svg" style="
        width: 330px;
        height: 330px;
        left: 3.85%;
        top: 1412px;
    ">
    <img src="/static/img/blue-circle.svg" style="
        width: 108px;
        height: 108px;
        left: 87%;
        top: 1977px;
    ">
    {# <img src="/static/img/blue-circle.svg" style="
        width: 163px;
        height: 163px;
        left: 1%;
        top: 3283px;
    ">
    <img src="/static/img/blue-circle.svg" style="
        width: 330px;
        height: 330px;
        right: 1%;
        top: 3848px;
    "> #}
    <img src="/static/img/light-blue-circle.svg" style="
        width: 43px;
        height: 43px;
        left: 11%;
        top: 159px;
    ">
    <img src="/static/img/light-blue-circle.svg" style="
        width: 43px;
        height: 43px;
        left: 2.4%;
        top: 367px;
    ">
    <img src="/static/img/light-blue-circle.svg" style="
        width: 491px;
        height: 491px;
        right: 4%;
        top: 1012px;
    ">
    <img src="/static/img/light-blue-circle.svg" style="
        width: 35px;
        height: 35px;
        left: 94.68%;
        top: 1904px;
    ">
    <img src="/static/img/light-blue-circle.svg" style="
        width: 30px;
        height: 30px;
        left: 4.01%;
        top: 2261px;
    ">
    <img src="/static/img/light-blue-circle.svg" style="
        width: 86px;
        height: 86px;
        left: 2.5%;
        top: 2325px;
    ">
    <img src="/static/img/light-blue-circle.svg" style="
        width: 17px;
        height: 17px;
        left: 8.5%;
        top: 2397px;
    ">
    {# <img src="/static/img/light-blue-circle.svg" style="
        width: 17px;
        height: 17px;
        left: 94.47%;
        top: 3113.36px;
    ">
    <img src="/static/img/light-blue-circle.svg" style="
        width: 86px;
        height: 86px;
        left: 90.83%;
        top: 3156.86px;
    ">
    <img src="/static/img/light-blue-circle.svg" style="
        width: 30px;
        height: 30px;
        left: 87.5%;
        top: 3232.22px;
    ">
    <img src="/static/img/light-blue-circle.svg" style="
        width: 491px;
        height: 491px;
        left: 2.7%;
        top: 4279px;
    ">
    <img src="/static/img/light-blue-circle.svg" style="
        width: 30px;
        height: 30px;
        left: 95.46%;
        top: 4697px;
    ">
    <img src="/static/img/light-blue-circle.svg" style="
        width: 86px;
        height: 86px;
        left: 92.3%;
        top: 4761px;
    ">
    <img src="/static/img/light-blue-circle.svg" style="
        width: 17px;
        height: 17px;
        left: 89.42%;
        top: 4833px;
    "> #}
</div>