<div class="main-content">
    <div class="first-banner flex">
        <div class="title-text">
            {{ _('Revolutionize your') }} <br><span class="blue-text">Telegram</span> {{ _('channels with our ') }} <span class="blue-text">{{ _('Management Panel') }}</span>
            <div class="small-title-text">
                {{ _('Say goodbye to the hassle of manual updates and embrace a new era of streamlined channel management.') }}
            </div>
        </div>
        <div class="title-image">
            <div id="image-background"></div>
            <img src="/static/img/statistics.png">
            <div class="title-note">
                {{ _('Effortlessly parse news from various websites and Telegram channels, and seamlessly publish posts to your channels directly from websites.') }}
            </div>
        </div>
    </div>
    <div class="why-us" id="why-us">
        <div class="why-us-title section-title">
            {{ _('Why Us') }}
        </div>
        <div class="small-title-text text-to-center">
            {{ _('Choose us to simplify your channel management and experience the future of news channel administration.') }}
        </div>
        <div class="why-us-features">
            <div class="flex">
                <div class="feature flex">
                    <div>
                        <div class="feature-title">
                            {{ _('News Aggregator') }}
                        </div>
                        <div class="feature-description">
                            {{ _('Say goodbye to the chaos of juggling multiple Telegram channels. We offer a centralized hub that simplifies content management, so you can focus on what truly matters.') }}
                        </div>
                    </div>
                    <div class="feature-icon">
                        <img src="/static/img/feature-1.svg">
                    </div>
                </div>
                <div class="feature-way">
                    <img src="/static/img/feature-way-1.svg">
                </div>
            </div>
            <div class="flex">
                <div class="feature-way reversed">
                    <img src="/static/img/feature-way-2.svg">
                </div>
                <div class="feature flex white">
                    <div>
                        <div class="feature-title">
                            {{ _('User-Focused Design:') }}
                        </div>
                        <div class="feature-description">
                            {{ _('We`ve built our interface with you in mind. Our user-friendly design ensures you can navigate with ease and make the most out of our powerful features.') }}
                        </div>
                    </div>
                    <div class="feature-icon">
                        <img src="/static/img/feature-2.svg">
                    </div>
                </div>
            </div>
            <div class="flex">
                <div class="feature flex">
                    <div>
                        <div class="feature-title">
                            {{ _('News Aggregator') }}
                        </div>
                        <div class="feature-description">
                            {{ _('Say goodbye to the chaos of juggling multiple Telegram channels. We offer a centralized hub that simplifies content management, so you can focus on what truly matters.') }}
                        </div>
                    </div>
                    <div class="feature-icon">
                        <img src="/static/img/feature-1.svg">
                    </div>
                </div>
                <div class="feature-way">
                    <img src="/static/img/feature-way-1.svg">
                </div>
            </div>
            <div class="flex">
                <div class="feature-way reversed" style="opacity: 0;">
                    <img src="/static/img/feature-way-2.svg">
                </div>
                <div class="feature flex white">
                    <div>
                        <div class="feature-title">
                            {{ _('User-Focused Design:') }}
                        </div>
                        <div class="feature-description">
                            {{ _('We`ve built our interface with you in mind. Our user-friendly design ensures you can navigate with ease and make the most out of our powerful features.') }}
                        </div>
                    </div>
                    <div class="feature-icon">
                        <img src="/static/img/feature-2.svg">
                    </div>
                </div>
            </div>
        </div>
        {# <div class="prising-title section-title">
            {{ _('Pricing') }}
        </div>
        <div class="small-title-text text-to-center">
            {{ _('Experience the full power of these 10 functions, and take your Telegram channel management to new heights.') }}
        </div> #}
    </div>
</div>