<link rel="stylesheet" href="/static/css/language-selector.css">
<div class="language-picker light-shadow-inset absolute">
    <div class="language-list">
        <div class="lang-item">
            <a href="/set-language/en/">
                {{ _('EN') }}
            </a>
        </div>
        <div class="lang-item">
            <a href="/set-language/ru/">
                {{ _('RU') }}
            </a>
        </div>
        <div class="lang-item">
            <a href="/set-language/uk/">
                {{ _('UK') }}
            </a>
        </div>
    </div>
    <img id="langArrow" src="/static/img/arrow.svg">
</div>