<!DOCTYPE html>
<html style="min-width: 100vw;">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/scripts.js"></script>
    <script src="/static/js/tg.js"></script>
    {% block additional_js %} {% endblock %}
    {% block additional_css %} {% endblock %}
    
</head>
<body>
    {% block header %} {% endblock %}
    {% block body %} {% endblock %}
    {% block footer %} {% endblock %}
</body>
</html>